
body {
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
  margin: 0;
}
/* NAVIGATION */
.top-nav{
  justify-content: center;
  display: flex;
}
.top-nav ul{
  display: flex;
  padding:0;
}
.top-nav li {
  font-size: 20px;
  font-family: arial;
  text-align: center;
  padding: 30px;
  list-style: none;
}
.top-nav a{
  display:flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: black;
  font-family: 'Ruda', sans-serif;
}

.top-nav a img{
  max-height: 50px;
}

.top-nav img{
  padding-bottom:10px;
}

.top-nav a{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.top-nav li a:after{
  content: "";
  display: block;
  position: absolute;
  bottom: -4px;
  left: 50%;
  border-bottom: 1px solid #000;
  transform: translate(-50%, 0);
  transition: .2s;
  width: 0%;
}
.top-nav a:hover:after{
  width: 100%;
}
/* NAVIGATION END*/


.logo img {
  display: block;
  justify-content: center;
  margin: 0 auto;
  width: 200px;
  padding-left: 50px;
}

.container {
  position: relative;
  text-align: center;
}

footer {
  width: 100%;
  height: 50px;
  margin: 0 auto;
  background-color: #2d2d2d;
  display: flex;
}


.footercontent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 100%;
}

footer div {
  height: 30px;
  margin-left: 10px;
  filter: grayscale(100%);
}
footer div:first-child{
  margin-left: 0;
}
footer img{
  height: 30px;
}

.pixels {
  display: block;
  justify-content: center;
  margin: 0 auto;
  width: 1000px;
  height: auto;
  padding-left: 50px;
  transform: rotate(-21deg);
  /*width: 64%;
  height: 700px;
  left: 500px;
  display: block;
  margin: 0 auto;
  padding: 50px;
  border: 50px;
  transform: rotate(-21deg);
  position: relative;
  z-index: -1; might remove this*/
}



}

.container {
  width: 100%;
  margin: 0 auto;
  border: 10px;
  padding: 0px;
  position: absolute;
  display: block;
  justify-content: center;
  margin: 0 auto;

}

.textblock {
  position: relative;
  bottom: 200px;
  left: 500px;

}

#box1 {
  background: orange;
  opacity: 1;
  background: linear-gradient(to right, rgba(0,0,0,255), rgba(0,0,255,1));
  height: 200px;
  width: 100%;
  display: block;
  /*top: 0;
  bottom: 0;
  left: 0;*/
  right: 500px;
  position: absolute;
  border-radius: ;/* what is the purpose of this?
}

#overlay {
  position: absolute;
  height: 200px;
  width: 400px;
  /*top: 0;
  bottom: 0;
  left: 0;*/
  right: 500px;
  overflow: hidden;
  opacity: 0;
  transition: .5s ease;
  background-color: #069999;
  border-radius: ;/* what is the purpose of this?*/
}

.text {
    color: black;
    font-size: 20px;
    font-family: 'Ruda', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
  }

.headerphoto {
  display: block;
  justify-content: center;
  margin: 0 auto;
  width: auto;
  position: relative;
  max-width: 100%;
}

.container:hover #overlay {
    width: 100%;
    opacity: 1;
  }

  #box2 {
    /*background: orange;*/
    opacity: 1;
    /*background: linear-gradient(to right, rgba(0,0,0,255), rgba(0,0,255,1));*/
    height: 200px;
    width: 100%;
    display: block;
    /*top: 0;
    bottom: 0;
    left: 0;*/
    right: 500px;
    position: absolute;
    border-radius: ;/* what is the purpose of this?*/
  }

  #overlay2 {
    position: absolute;
    height: 200px;
    width: 400px;
    /*top: 0;
    bottom: 0;
    left: 0;*/
    right: 500px;
    overflow: hidden;
    opacity: 0;
    transition: .5s ease;
    background-color: #71c5c9;
    border-radius: ;/* what is the purpose of this?*/
  }

  .container:hover #overlay2 {
      width: 100%;
      opacity: 1;
    }

#box3 {
  background: orange;
  opacity: 1;
  background: linear-gradient(to right, rgba(0,0,0,255), rgba(0,0,255,1));
  height: 200px;
  width: 100%;
  max-width: 1000px;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: ;/* what is the purpose of this?*/
}

#overlay3 {
  position: absolute;
  height: 200px;
  width: 400px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  opacity: 0;
  transition: .5s ease;
  background-color: #f6a316;
  border-radius: ; /* what is the purpose of this?*/
}

.container:hover #overlay3 {
  width: 100%;
  opacity: 1;
  }


.contactusinfo {
  text-align: center;
  margin: auto;
  max-width: 700px;
}

.contactus img {
  width: 100%;
}

h2 {
  text-align: center;
  font-size: 45px;

}

.mail img {
  height: 48px;
  width: 54px;
}

.mail {
  text-align: center;
}

.mailtext a {
  color: #71c5c9;
}

.mailtext {
  text-align: center;
    padding: 0 0 25px 0;
}

.phone img {
  height: 86px;
  width: 49px;
}

.phone {
  text-align: center;
}

.phonenumber p {
  text-align: center;
  margin: 0;
  padding: 0;
}

.pixel-image {
  padding-bottom: 28%; /*padding fact: scales with width with %*/
  background: url("../images/newlongpixel.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}


.contact-section {
  background: url("../images/mediumpixels.png"), url("../images/mediumpixelsreflected.png");
  background-size: 35%;
  background-repeat: no-repeat;
  background-position: -20px 98%, calc(100% + 20px) 98%;
}


.test_with_vr {
  text-align: center;
  max-width: 700px;
  margin: auto;

}

.testpicture img {
  height: 92px;
}

.testpicture2 img {
  height: 92px;
  padding: 0 0 0 10px;
}

.piechart img {
  height: 137px;

}

.work-section img {
  height: 200px;
  width: 300px;

}

.work-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.work-text {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.dfs, .ncm, .zen {
  display: flex;
  max-width: 300px;
}

.white-box {
  padding-bottom: 15%;
}

.space-box {
  padding-bottom: 5%;
}
